fastapi
uvicorn[standard]
python-dotenv
aiohttp
sqlalchemy
psycopg2-binary
asyncpg
prometheus-fastapi-instrumentator
fastapi
uvicorn[standard]
python-dotenv
aiohttp
sqlalchemy
psycopg2-binary
asyncpg
